GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
GOOGLE_CALLBACK_URL=https://localhost:3000/auth/google/callback
SESSION_SECRET=your-session-secret-here
JWT_SECRET=your-jwt-secret-here
MONGO_URI=mongodb://127.0.0.1:27017/revisalDB
